.lightbox {
  margin-left: 1.5em;
}

.thumbnail {
  width: 240px;
  height: 140px;
  margin-bottom: 3em;
}

.modal-backdrop {
  position: absolute;
  z-index: 1031 !important;
}

.modal {
  position: absolute;
  z-index: 1032;
}

.btn {
  border: 1px solid;
}

.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}
.modal-title{
  text-align: center;
}

.close {
  display: none
}

@media(max-width: 768px) {
  .modal-dialog {
    min-height: calc(100vh - 20px);
  }

  .thumbnail {
    display:block;
    margin-left:auto;
    margin-right:auto;
  }

}
